@using Inspinia_MVC5
@using Microsoft.AspNet.Identity
@{
    var Name = System.Web.HttpContext.Current.User.Identity.Name;
}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@Name</strong>
                            </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("", "")">Profile</a></li>
                      
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
         
       
      
           
            <li>
                <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label" data-i18n="nav.menulevels">Pages </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
               
                    <li><a href="@Url.Action("Index", "Home")">Chat</a></li>
                    <li>
                        <a href="@Url.Action("Index", "Admin")">System Stats</a>
                    </li>
                    
                </ul>
            </li>
            
        </ul>
    </div>
</nav>