@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Chat_view";
    var userId = System.Web.HttpContext.Current.User.Identity.GetUserId();

}
<input type="hidden" value="@userId" id="userId" />
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Chat view</h2>

    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <strong>Chat room </strong> send a message and our chatbot will response as soon as possible    

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox chat-view">
                <div class="ibox-title">
                    <small class="pull-right text-muted">Last message:  Mon Jan 26 2015 - 18:39:23</small>
                    Chat room panel
                </div>

                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="chat-discussion" id="chat-discussion">



                            </div>
                        </div>



                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="chat-message-form">
                                <div class="form-group">
                                    <div class="col-md-12 input-group">
                                        <textarea class="form-control message-input" id="chatMessage" name="message" placeholder="Enter message text"></textarea>
                                        <span class="input-group-addon btn btn-primary full-height " id="send">Send</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






@section scripts
{
    <script src="~/Scripts/app/chatMessage/modules/chatResponse.js"></script>
    <script src="~/Scripts/app/chatMessage/modules/saveInDatabase.js"></script>
    <script src="~/Scripts/app/chatMessage/modules/checkLanguage.js"></script>
    <script src="~/Scripts/app/chatMessage/modules/changeHtml.js"></script>
    <script src="~/Scripts/app/chatMessage/main.js"></script>

}
